@import "./Variables.scss";
.ConsoleGames {
  .container {
    text-align: left;
  }

  .search-input-label {
    height: 55px;
    width: 60vw;
    margin: 0 auto 35px auto;
  }

  .loading-header {
    text-align: center;
  }

  .no-games-found {
    text-align: center;
    margin-bottom: 25px;
  }
  .view-more-btn {
    height: 55px;
    width: 200px;
    margin: 10px auto 0 auto;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .letter-container p:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}
