@import "./Variables.scss";
.dropdown {
  .dropdown {
    // min-width: 165px;
    // font-weight: bold;
    width: auto;
    font-size: 25px;
    font-weight: bold;
  }

  .dropdown:hover {
    // min-width: 165px;
    // font-weight: bold;

    background-color: transparent;
    border-color: transparent;
    // color: black;
  }

  .dropdown-menu {
    background-color: #babcbf;
    // color: black;
  }
}
