.GameInfo {
  .product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .info-container {
    text-align: left;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .cheat-codes > .header {
    margin: 25px 0;
  }
  .cheats {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .code {
    margin-right: 25px;
  }
}
