@import "./Variables.scss";
.GameInfo {
  text-align: left !important;

  p {
    font-size: 1.25rem;
    word-wrap: break-word;
  }
  img {
    width: 22vw;
    height: 45vh;
    object-fit: contain;
  }

  a:hover {
    color: $black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border-radius: 5px;
  }

  th {
    background-color: $primary-color;
  }

  button {
    margin: 7.5px 0 7.5px 0;
    font-weight: bold;
    width: 200px;
    height: 55px;
    padding-bottom: 6px;
  }

  .carousel {
    position: absolute;
    top: 0;
  }

  .carousel-img {
    width: 22vw;
    height: 45vh;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    min-width: 22vw;
    height: 45vh;
  }

  .game-information {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0 5px 0;
  }

  .platform {
    margin-top: 10px;
  }

  .product-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
  }
  .wiki-link {
    margin-left: 5px;
  }

  .btn-container {
    position: relative;
    top: 7px;
  }

  .info-container {
    position: relative;
    margin: 0 15px 0 15px;
    text-align: left;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .info-header {
    text-align: center;
    background-color: $secondary-color;
    border-radius: 5px;
    height: 55px;
    color: $black;
  }

  .descriptions {
    margin: 0 auto;
    width: 62vw;
  }

  .descriptions > h1 {
    margin: 15px 0 15px 0;
  }

  .descriptions > p {
    margin: 0;
  }

  .cheat-codes {
    margin: 0 auto;
    width: 62vw;
  }

  .cheat-codes > h1 {
    margin: 15px 0 15px 0;
  }
  .cheats {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .code {
    margin-right: 25px;
  }

  @media (max-width: 900px) {
    .btn-container {
      position: relative;
      top: 0px;
    }

    button {
      width: 85vw;
    }
    .info-container h1 {
      margin-top: 10px;
    }
    img {
      width: 85vw;
      // height: 300px;
      object-fit: contain;
    }
    .carousel-img {
      width: 85vw;
      // height: 300px;
    }
    .img-container {
      min-width: 85vw;
      // height: 300px;
    }
    .product-container {
      margin: 0 auto;
      flex-direction: column;
      width: 85vw;
    }
    .info-container {
      margin: 0 auto;
      width: 85vw;
    }
    .cheat-codes {
      width: 85vw;
    }

    .descriptions {
      width: 85vw;
    }
  }
}
