@import "./variables.scss";
.GameLine {
  .GameLine-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 75vw;
    margin: 0 auto 10px auto;
  }

  p {
    font-weight: bold;
  }

  button {
    bottom: 7px;
    width: 150px;
    height: 45px;
    padding-bottom: 3px;
  }

  // hr {
  //   color: $primary-color;
  //   width: 60vw;
  //   margin: 5px auto 15px auto;
  //   position: relative;
  //   left: 35px;
  // }

  // .item {
  //   width: 100px;
  // }
  // .number {
  //   max-width: 30px !important;
  // }

  .size {
    width: 75px;
  }

  .download {
    width: 75px;
  }

  .title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 420px;
  }

  @media (max-width: 900px) {
    .GameLine-container {
      margin: 0 auto 20px auto;
    }

    .size {
      position: relative;
      left: 15px;
    }
    button {
      // padding: 2.5px;
      width: 75vw;
      height: auto;
    }
  }

  @media (max-width: 900px) {
  }
}
