$white: rgb(255, 254, 254);
$black: #3b3833;

$dark: rgb(23, 23, 36);

$bright-white: #fdfcfa;
$dark-black: #000000;

$glass: rgba(23, 23, 36, 0.1);

$primary-color: rgb(80, 251, 170);
$primary-color-dark: #494e54;
$secondary-color: rgb(80, 251, 170);
$secondary-color-dark: rgb(80, 251, 170);
$third-color: #cc5b27;
$third-color-dark: #ad4e22;
