$white: white;
$black: #3b3833;

$dark: #120640;

$bright-white: #fdfcfa;
$dark-black: #000000;

$glass: rgba(255, 255, 255, 0.55);

$primary-color: #0b9ed9;
$primary-color-dark: #494e54;
$secondary-color: #ff9c00;
$secondary-color-dark: #e08b01;
$third-color: #cc5b27;
$third-color-dark: #ad4e22;
